
/* product previews / list */
.products__container {
  display: grid;
  flex-direction: column;
  gap: 1%;
  height:100% ;
  padding:5rem;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  padding-top: 8rem;
  align-content: center;
  justify-items: center;
}

.grid__product{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
  
.products__title {
  text-align: center;
}

.product__box{
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  width: 50%;
}
.product__cards {
  display: grid;
  position: relative;
  left: 5%;
}

.product__card {
  background: var(--color-bg-variant);
  border:1px solid transparent ;
  border-radius: 1rem;
  width: fit-content;
  padding: 2rem;
  transition: var(--transition);
}

.product__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.product__card h5 {
  font-size: 0.95rem;
}

.product__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.product__content p {
  margin: 2rem 0 2.6rem;  
  color: var(--color-light);
}

.card-footer{
  display: flex;
  justify-content:flex-end;
  
  margin: 0rem;
}

.btn-group{
  margin: 1rem;
}

.btn-add{
height: 80px;
width: 105px;
}
/* ===================================  PLAYER  =================================== */
.player-wrapper{
  position: relative;
  height: fit-content;
}

.react-player{
  width:60px;
  height:150px;
}

/* ===================================  CREATE PRODUCT  =================================== */
.create {
  display: flex;
  flex-direction: column;
  /* max-width: 400px; */
  margin: 0 auto;
  text-align: center;
  padding-top: 8rem;
  align-content: center;
  align-items: center;
  justify-items: center;
}
 .create label {
  text-align: left;
  display: block;
}

.create form {
  max-width: 400px;
  margin-bottom: 20px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: var(--color-white);
}

.tags-list{
  display: flex;
  flex-direction: row;
  gap: 21px;
  margin: 15px;
}

.tags-list input {
  /* width: 0%; */
  display: inline-flex;
}


.tags-list-item{

}

.textarea-price{
max-width: 15%;
height: 30px;
}

.lable-price{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}




/* ===================================  MEDIA QUERIES (MEDIUM DEVICES) =================================== */
@media screen and (max-width: 1024px) {
  .products__container {
      grid-template-columns: 1fr;
      padding: 5rem 0rem;
  }


.product__content p {
    margin: 1rem 0 1.5rem;
}
}

/* ===================================  MEDIA QUERIES (SMALL DEVICES) =================================== */
@media screen and (max-width: 600px) {
  .about__me {
      width: 65%;
      margin: 0 auto 3rem;
  }

  .product__box{
    /* display: flex;
    flex-direction: column;
    padding-bottom: 2px; */
    width: 100%;
  }

  .product__cards {
      grid-template-columns: 1fr 1fr;
      padding: 5rem 0rem;
  }

  .product__content {
      text-align: center;
  }

  .product__content p {
      margin: 1.5rem 0;
  }


  }

  