.checkout__container {
    display: grid;
    flex-direction: column;
    gap: 1%;
    height:100% ;
    padding:10rem;
    overflow: hidden;
    flex-grow: 1;
    align-items: center;
    padding-top: 8rem;
    align-content: center;
    justify-items: center;
  }


  .grid__checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
    
  .checkout__title {
    text-align: center;
  }
  
  .checkout__cards {
    
    display: grid;
    position: relative;
    left: 5%;
    color: black;
  }
  
  .checkout__card {
    flex-direction: column;
    background:rgba(245, 245, 245);
    border:1px solid transparent ;
    border-radius: 1rem;
    width: 500px;
    padding: 2rem;
  
  }

  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12.5rem ;
  }

  .btn-payment{
    width: 86px;
    left: 67%;
  }