nav {
    position: fixed;
    display: flex;
    width:-webkit-fill-available;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* padding: 20px; */
    gap: 0.8rem;
    margin: 0 auto;
    border-bottom: 0.5px solid #f2f2f2;
    /*border-radius: 3rem;*/
    backdrop-filter: blur(15px) ;
    
  }

  .nav__logo{
right: 85%;
top: 0%;
position: absolute;
width: 12%;
display: flex;
height: 100%;
  }
/*
nav {
    background:rgba(0, 0,0,0.3) ;
    width: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px)   ;
}*/

nav a, ul, button{
    background:transparent ;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;

}

.nav__btn{
    background:transparent ;
    position: absolute;
    left: 90%;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: var(--color-light);
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 10;

}


/* nav a:hover:hover {
    background: rgba(0, 0,0,0.3);
} */

nav a.active, ul.active {
color: var(--color-white);
text-decoration: underline;
}

/* .nav__btn:hover {
    background: rgba(0, 0,0,0.3);
} */

.nav__btn.active {
background: var(--color-bg);
color: var(--color-white);
}

li {
    gap: 0.3rem;
   
}

ul {
    justify-content: center;
}

.cart{
    right: 10%;
    position: absolute;
    bottom:23%;

}
/* =================================================  SEARCHBAR =================================== */

.search {
 margin-top:2px;
}


.search__container{
    position: absolute;
    left: 20%;
     border-radius:8px;
     margin-top: 2px;
     margin-right: 16px;
  }

  .search__container a, ul, button{
    background:inherit ;
    padding: none;
    border-radius: 0;
    display: inherit;
    color: inherit;
    font-size: 1.1rem;
  }
.search__container input {
    float: right;
    padding: 6px;
    border: none;
    border-top-left-radius:0px ; 
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
    
  }


  .search__text{
      display: flex;
  }

  .search__icon {
    height: 27px;
    color: #171717;
    border-radius:2px;
    display: grid;
    place-items: center ;
  }


.searchIconWrapper {
    height: '100%';
    position: 'absolute';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
  
}

/* .search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
    line-height: 1.5em;
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
    display: flex;
	margin: auto;
	padding: 2px;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
    z-index: 5;
    color: #171717;
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #dbdada inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #d6d5d5;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
    font-size: small;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
/* .search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}  */






/* ===================================  MEDIA QUERIES (MEDIUM DEVICES) =================================== */
@media screen and (max-width: 1024px) {
    nav {
        display: flex;
        padding: 0.7rem 1.7rem;
        /* transform: translateX(-50%); */
    }
    .nav__logo{
right: 90%;
    }
    .nav__btn{
left: 90%;
    }
    }
  
  
  /* ===================================  MEDIA QUERIES (SMALL DEVICES) =================================== */
  @media screen and (max-width: 600px) {
   
    }
  
  
