nav {
    position: fixed;
    display: flex;
    width:-webkit-fill-available;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* padding: 20px; */
    gap: 0.8rem;
    margin: 0 auto;
    border-bottom: 0.5px solid #f2f2f2;
    /*border-radius: 3rem;*/
    backdrop-filter: blur(15px) ;
    
  }

  .nav__logo{
right: 85%;
top: 0%;
position: absolute;
width: 12%;
display: flex;
height: 100%;
  }
/*
nav {
    background:rgba(0, 0,0,0.3) ;
    width: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px)   ;
}*/

nav a, ul, button{
    background:transparent ;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;

}

.nav__btn{
    background:transparent ;
    position: absolute;
    left: 90%;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: var(--color-light);
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 10;

}


/* nav a:hover:hover {
    background: rgba(0, 0,0,0.3);
} */

nav a.active, ul.active {
color: var(--color-white);
text-decoration: underline;
}

/* .nav__btn:hover {
    background: rgba(0, 0,0,0.3);
} */

.nav__btn.active {
background: var(--color-bg);
color: var(--color-white);
}

li {
    gap: 0.3rem;
   
}

ul {
    justify-content: center;
}

.cart{
    right: 10%;
    position: absolute;
    bottom:27%;

}

/* ===================================  MEDIA QUERIES (MEDIUM DEVICES) =================================== */
@media screen and (max-width: 1024px) {
    nav {
        display: flex;
        padding: 0.7rem 1.7rem;
        /* transform: translateX(-50%); */
    }
    .nav__logo{
right: 90%;
    }
    .nav__btn{
left: 90%;
    }
    }
  
  
  /* ===================================  MEDIA QUERIES (SMALL DEVICES) =================================== */
  @media screen and (max-width: 600px) {
   
    }
  
  
