input{
    /* appearance: none; */
    background: none;
    border: none;
    outline: none;
}

.login {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* top: -5px; */
    left: -5px;
    right: -5px;
    /* bottom: -5px; */
    backdrop-filter: blur(15px) ;
}

form{
    display: block;
    position: relative;
}



form:after {
    content: '';
    display: block;
    /* position: absolute; */
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 3;
    background-image: linear-gradient(to bottom right,rgba(40, 65, 255, 0.73) 50%, #6345A5 50%, #fff )


} 

form .form-inner {
    position: relative;
    display: block;
    background-color: #2c2c6c;
    padding: 30px;
    border-radius: 5%;
    z-index: 4;
}

form .log-out {
    position: relative;
    display: block;
    background-color: #2c2c6c;
    padding: 30px;
    z-index: 4;
}


form .form-inner h2 {
    color : rgba(255, 255, 255, 0.783);
     margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: rgb(226, 226, 226);
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #a4a4e3 ;
}

form .form-inner .form-group input {
    display:block;
    width: 100%;
    padding: 10px 15px;
    background-color: #f8f8f8 ;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.error {
    color: red;
}

.btn__psw {
    transition: 0.4s;
    color: #fff;
    cursor: pointer;
}

.btn__psw:hover{
    color: #a4a4e3 ;
}

form .form-inner  input[type="submit"],
.welcom button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right,rgba(40, 65, 255, 0.73) 50%, #6345A5 50%, rgba(40, 65, 255, 0.73) ) ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

form .form-inner input[type="submit"]:hover,
.welcom button:hover {
    background-position: 100% 0%;
}

/*================================ PORTAL PAGE ========================== */
.portal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position : fixed;
     top: 20%;
    left: 35%;
    background-color: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

